<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Profesor</title>
    <!-- Enlace a Google Fonts para la tipografía Margarine -->
    <link href="https://fonts.googleapis.com/css2?family=Margarine&display=swap" rel="stylesheet">
    <!-- Enlace a Font Awesome para íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    
    <style>
        body {
            margin: 0;
            font-family: 'Margarine', sans-serif;
            display: flex;
            min-height: 100vh;
            background-color: #f7f7f7;
        }
        .sidebar {
            width: 250px;
            background-color: #2a2d34;
            color: #fff;
            position: fixed;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            transition: left 0.3s ease;
            overflow: auto;
        }
        .sidebar.active {
            left: 0;
        }
        .nav-links {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .nav-links li {
            position: relative;
        }
        .nav-links a {
            display: flex;
            align-items: center;
            padding: 15px;
            color: #fff;
            text-decoration: none;
            position: relative;
        }
        .nav-links a:hover {
            background-color: #3e4149;
        }
        .dropdown-content {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #2a2d34;
            position: relative;
            left: 0;
            width: 100%;
        }
        .dropdown-content li {
            padding: 0;
        }
        .dropdown-content a {
            padding: 10px 15px;
            color: #fff;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {
            background-color: #3e4149;
        }
        .show {
            display: block;
        }
        .header {
            background: -webkit-linear-gradient(38deg, #39bb25, #f4f816); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(38deg, #39bb25, #f4f816); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #fdfbfb; /* Blanco */
            padding: 10px;
            position: fixed;
            top: 0;
            left: 250px;
            width: calc(100% - 250px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }
        .header-logo img {
            height: 80px;
            margin-right: 15px;
        }
        .header h1 {
            font-weight: 600;
            font-size: 1.8em;
        }
        .profile-header {
            display: flex;
            align-items: center;
            position: relative;
        }
        .profile-header img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        .profile-header .profile-info {
            margin-right: 30px;
            color: #070707;
        }
        .profile-header .profile-info .name {
            font-size: 1em;
        }
        .profile-header .profile-info .role {
            font-size: 0.8em;
            color: #050505;
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(104, 19, 19, 0.1);
            z-index: 1001;
            overflow: hidden;
        }
        .dropdown-menu a {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            color: #333;
            text-decoration: none;
        }
        .dropdown-menu a i {
            margin-right: 10px;
        }
        .dropdown-menu a:hover {
            background-color: #f7f7f7;
        }
        .profile-header:hover .dropdown-menu {
            display: block;
        }
        /* Animación de movimiento para cada opción del menú al pasar el mouse */
        .nav-links a:hover {
            background-color: #3e4149;
            transform: translateY(-5px); /* Mueve la opción hacia arriba */
        }
        /* Animación de retorno a la posición original */
        .nav-links a {
            transition: transform 0.3s ease;
        }
        .nav-links a:hover {
            background-color: #3e4149; /* Cambia el color de fondo al pasar el mouse */
        }
        .dashboard-container {
            margin-left: 250px;
            margin-top: 60px;
            padding: 20px;
            width: calc(100% - 250px);
        }
        .modules-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        .module {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: #333;
            text-align: center;
            padding: 20px;
            width: calc(25% - 20px);
            transition: transform 0.3s;
        }
        .module:hover {
            transform: translateY(-5px);
        }
        .module h3 {
            margin: 10px 0;
            font-size: 1.2em;
            font-weight: 600;
        }
        .footer {
            background: -webkit-linear-gradient(38deg, #39bb25, #f4f816); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(38deg, #39bb25, #f4f816); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: #ffffff; /* Blanco */
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: calc(100% - 250px);
            margin-left: 250px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave en la parte superior */
        }
        
        @media (max-width: 768px) {
            .sidebar {
                width: 200px;
            }
            .sidebar.active {
                left: 0;
            }
            .header, .footer {
                left: 200px;
                width: calc(100% - 200px);
            }
            .dashboard-container {
                margin-left: 200px;
                width: calc(100% - 200px);
            }
        }
        .toggle-sidebar-btn {
            position: fixed;
            top: 20px;
            left: 20px;
            background-color: #4b6584;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            z-index: 1001;
        }
        .nav-category {
            margin-bottom: 10px; /* Espacio entre categorías */
            margin-top: 10px;
        }
        
        .nav-category h3 {
            font-size: 1em; /* Tamaño del texto del título */
            color: #05f505; /* Color del título */
            margin-bottom: 7px; /* Espacio debajo del título */
        }
         /* Estilos para el banner de éxito */
         .success-message {
            display: none;
            background-color: #4caf50;
            color: white;
            padding: 20px 40px; /* Tamaño más grande */
            text-align: center;
            position: fixed;
            top: 50%; /* Centrar verticalmente */
            left: 50%; /* Centrar horizontalmente */
            transform: translate(-50%, -50%); /* Ajustar para centrar perfectamente */
            border-radius: 10px;
            z-index: 1000;
            font-size: 20px; /* Texto más grande */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar sombra */
            width: 80%; /* Hacer el mensaje más ancho */
            max-width: 600px; /* Limitar el ancho máximo */
        }
        .success-message i {
            margin-right: 10px; /* Espaciado entre el ícono y el texto */
            font-size: 24px; /* Tamaño del ícono */
        }
    </style>
</head>
<body>
    <nav class="sidebar">
        <ul class="nav-links">
            <li><a href="/grados"><i class="fas fa-graduation-cap"></i> Grados</a></li> 
            <li><a href="/reportes"><i class="fas fa-chart-bar"></i> Reportes</a></li> 
            <li><a href="/asistencia"><i class="fas fa-user-check"></i> Asistencia</a></li> 
            <li><a href="/cursos"><i class="fas fa-book"></i> Cursos</a></li> 
            <li><a href="/notificaciones"><i class="fas fa-bell"></i> Notificaciones</a></li> 
            <li><a href="/horarios"><i class="fas fa-clock"></i> Horarios</a></li> 
        </ul>
    </nav>
    <header class="header">
        <div class="header-logo">
            <img src="/img/home.jpg" alt="Logo">
        </div>
        <h1>CENTRO ESCOLAR CECEC</h1>
        <div class="profile-header">
            <img id="profileImage" src="<%= user.profilePicture %>" alt="Foto de Perfil" class="profile-picture">
            <div class="profile-info">
                <div class="name"><%= user.nombre_usuario %></div>
                <div class="role"><%= user.rol %></div>
            </div>
            <!-- Menú desplegable dentro de profile-header -->
            <div class="dropdown-menu">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">
                    <i class="fas fa-user-edit"></i> Editar Perfil
                </a>               
                <a href="#"><i class="fas fa-cogs"></i> Configuración</a>
                <a href="#"><i class="fas fa-sign-out-alt"></i> Salir</a>
            </div>
        </div>
    </header>
    <div class="dashboard-container">
        <div class="success-message" id="successMessage"></div>
        <div class="modules-container">
            <div id="history-content" style="margin-top: 10px; text-align: center;">
                <h2 style="font-size: 2em; font-weight: 600; margin-top: 30px;">Nuestra Historia</h2>
                <div style="max-width: 900px; margin: 0 auto; text-align: justify; font-size: 1.1em; line-height: 1.9;">
                    <p>
                        La Escuela de Cristo se estableció hace diez años con la intención de brindar a los niños y jóvenes de la comunidad de Villa Nueva, Guatemala, una educación completa y de alta calidad. La necesidad de una institución educativa que combinara la excelencia académica con un enfoque en el desarrollo integral de los estudiantes fue lo que llevó a la fundación de la escuela.
                    </p>
                    <p>
                        La Escuela de Cristo comenzó con el objetivo de establecer una base sólida, desarrollando un currículo académico que incluía tanto materias básicas como programas adicionales de formación en valores y habilidades sociales. La institución se destacó por su enfoque en la educación individualizada y el apoyo constante a todos los estudiantes.
                    </p>
                    <p>
                        La escuela ha experimentado un crecimiento significativo tanto en el número de estudiantes como en la calidad de las instalaciones. Las instalaciones se ampliaron para incluir una cancha deportiva para aumentar la actividad física y el espíritu deportivo. Además, se inauguró una cafetería para ofrecer un servicio de alimentación que apoya el bienestar general de la comunidad escolar y fomenta una dieta saludable.
                    </p>
                    <p>
                        A pesar de estos avances, la gestión administrativa de la escuela, en particular la gestión de datos de los estudiantes y la generación de recibos, sigue siendo principalmente manual. Esto ha generado problemas en términos de eficiencia y precisión, lo que ha llevado a la adopción de un sistema digital para modernizar estos procesos.
                    </p>
                    <p>
                        El objetivo del proyecto de implementación del nuevo sistema de gestión de datos es resolver estos problemas, mejorar la gestión de la información y aumentar la eficiencia operativa. La misión de la Escuela de Cristo de brindar una educación de alta calidad, adaptándola a las necesidades actuales y preparando a sus estudiantes para un futuro próspero sigue siendo un compromiso.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        © 2024 ING. Frida Berlinda Garcia
    </div>
    <!-- Modal -->
<!-- Modal de Editar Perfil -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editProfileForm" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= user.nombre_usuario %>" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Subir Foto de Perfil:</label>
                        <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
                    </div>
                    <div id="successMessage" class="alert alert-success d-none" role="alert">
                        Foto de perfil actualizada exitosamente.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
       // Obtener los valores de EJS para el mensaje
       const userName = "<%= user.nombre_usuario %>";
       const userRole = "<%= user.rol %>";

       function showSuccessMessage() {
           const message = document.getElementById('successMessage');
           message.innerHTML = `<i class="fas fa-check-circle"></i> ¡Ingreso exitoso! Bienvenido, ${userRole} ${userName}.`;
           message.style.display = 'block';
           setTimeout(() => {
               message.style.display = 'none';
           }, 3000); // Mostrar el mensaje durante 3 segundos
       }

       // Mostrar el mensaje cuando se carga la página
       window.onload = showSuccessMessage;

       //perfil
       document.getElementById('editProfileForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir el comportamiento por defecto del formulario
    
        let formData = new FormData(this); // Crear un objeto FormData con los datos del formulario
    
        fetch('/uploadProfile', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Actualizar la imagen de perfil dentro del dashboard
                let profileImageElement = document.getElementById('profileImage');
                if (profileImageElement) {
                    profileImageElement.src = data.imagePath;
                }
    
                // Mostrar mensaje de éxito
                let successMessage = document.getElementById('successMessage');
                successMessage.classList.remove('d-none');
                successMessage.textContent = data.message;
    
                // Cerrar el modal después de 2 segundos
                setTimeout(() => {
                    $('#editProfileModal').modal('hide');
                }, 2000);
            }
        })
        .catch(error => {
            console.error('Error al subir la imagen:', error);
        });
    });
    
    
    
    </script>
</body>
</html>